<div class="coming-soon container-fluid d-flex align-items-center justify-content-center">
  <div class="flex-row">
    <div class="flex-column text-center">
      <div data-aos="fade-down">
        <h1>HI, I'M RACHEL ODUMU.</h1>
      </div>
      <div data-aos="fade-right" data-aos-delay="500">
        <h1>SENIOR SOFTWARE ENGINEER</h1>
      </div>
      <div data-aos="fade-left" data-aos-delay="1000">
        <h1>🚧 THIS SITE IS UNDER CONSTRUCTION 🚧</h1>
      </div>
      <div data-aos="fade-up" data-aos-delay="1500" class="flex-row">

        <a href="https://www.linkedin.com/in/rachelodumu"><span class="linkedin">👩🏾‍🎓</span></a>
        <a href="https://github.com/rachisalive"><span class="github">👩🏾‍💻</span></a><br>
        <!-- <a href="https://twitter.com/rachisalive">
          <img src="./assets/icons/blue_twitter_logo.svg" class="twitter">
        </a> -->
        <a href="https://vinstripe-app.herokuapp.com/">
          <img src="./assets/icons/vinstripe_logo.svg" class="vinstripe">
        </a>
      </div>
    </div>
  </div>
</div>